<!doctype html>
<html>

<head>
    <title>Eventful</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="connect.css">

</head>

<body>
    <div class="container">
        <header>
            <div class="center">
                <% if (user.local.email) { %>
                    <div id="cloud">
                        <h3 class="interface"><strong>Welcome</strong>
                            <%= user.local.email %><br>
                        </h3>
                        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                        <a href="/mysetting" class="btn btn-default btn-sm">Settings</a>
                        <% } else { %>
                            <a href="/connect/local" class="btn btn-default">Connect Local</a>
                            <% } %>
                    </div>
                    <div class="center2">
                        <div id="cloud"></div>
                    </div>
                    <div class="center3">
                        <div id="cloud"></div>
                    </div>
            </div>
        </header>

        <h2> <div class="map hidden" id="map" style="height: 400px;"></div> </h2>
        
        <div class="row">
            <div>
                <section class="msg-board">
                    <ul id="comments" class="messages">
                        <h3>See What's Happening In The Area</h3>

                        <% for(var i=0; i<messages.length; i++) {%>

                            <li class="message">
                                <span><strong>
                                        <%= messages[messages.length - (i + 1)].name %>:
                                    </strong></span>
                                <span>
                                    <%= messages[messages.length - (i + 1)].msg %>
                                </span><br>
                                <ul>
                                    <% for(var j=0; j< messages[i].replies.length; j++) {%>

                                        <li>
                                            <% Object.keys(messages[i].replies[j]).forEach(function(email) { %>
                                                <strong>
                                                    <%= email %>:
                                                </strong>
                                                <%= messages[i].replies[j][email] %><br>
                                                    <% }); %>
                                        </li>
                                        <% } %>
                                </ul>
                                <section id="replysection_<%=messages[i]._id%>" class="reply-section hidden">
                                    <input id="input_<%=messages[i]._id%>" type="text" name="" maxlength="200">
                                    <button class="reply-submit" id="<%=messages[i]._id%>">Submit</button>
                                </section>


                                <span id="replyspan_<%=messages[i]._id%>" class="reply">Reply</span>
                            </li>
                            <% } %>
                    </ul>

                    <% if (user.local.email) { %>
                        <form id="messageForm" action="/messages" method="POST">
                            <input type="text" value="<%= user.local.email %>" name="name" readonly>
                            <input type="text" placeholder="Enter Message" name="msg" maxlength="200">
                            <% } %>
                                <input type="hidden" id="latitude-input" name="latitude" value="">
                                <input type="hidden" id="longitude-input" name="longitude" value="">
                                <button type="submit">Submit</button>
                        </form>
                        <div class="wrapper">
                            <span class="square">
                                <a class="tenth before after" href="/myprofile">
                                    - Create Gather Round -
                                </a>
                            </span>
                        </div>
                </section>
            </div>

            <script src='<%= process.env.API_KEY %>'></script>
            <script src="location.js"></script>
            <script src="main.js"></script>
</body>

</html>